.critere{
    margin-top: 10%;
    margin-bottom: 20%;
    height: 20%;
    display: flex;
    flex-direction: column;

}

form{
  margin-top: 20%;
}

.barre-menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    background-color: #0C85F8;
    color: #fff;
    padding: 0;
    z-index: 0;
    display: flex;
    justify-content: space-around;
    height: 75px;
  }
  
  .element-menus{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .nomApp{
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20px;

  }


  ion-content {
    width: calc(100% + 20px);
    --padding-end: 20px !important;
  
  }
  
  ion-content::part(scroll) {
    margin-right: -20px;
  }