<ion-content>
  <div class="container">
    <div class="text-center">
      <img class="imageH" src="../../assets/image/projets.png">
    </div>
    <div class="row">
      <div class="text-center">
        <h2>Bienvenu sur ikaVote!</h2>
        <p>Mecri de choisir votre profil</p>
      </div>
    </div>
  </div>
  <div class="milieu">
    <div class="jury text-center">
      <button routerLink="/loginjury">Authentification jury</button>
    </div>
    <div class="votant text-center">
      <button routerLink="/connexionvotant">Authentification votant</button>
    </div>
  </div>
  


</ion-content>
<ion-footer class="footer">
  <img class="logo" src="../../assets/image/ikaLogo.png" >
</ion-footer>