
.photoEvents{
  width: 100%;
  height: 20px;
}

.logo{
  width: 50px;
  height: 30px;
}

.logo1{
  width: 50px;
  height: 30px;
}


  .conteneurDetailEvents{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 5px;
  }


//   Style de l'image et son conteneur
.photoEvents{
    height: 30vh;
    width: 100%;
}
.myEvents{
    height: 100%;
    width: 100%;
}


//Styles des details Events

//conteneur principal des details
.detailEvents{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: 5px;
    
  }

  .elementDetailEvents{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
    height: 100%; 
    font-size: 15px; 
  }

  .detail, .libelle{
    display: flex;
    justify-content: flex-start;
  }
 .libelle{
   font-weight: bold;
  }