<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-back-button style="color: #FF731D;" class="logo" defaultHref="evenements"></ion-back-button>
    <!-- <h6>ttttt</h6> -->
    <ion-buttons slot="primary">
      
        <div>
          <img  class="logo1" src="../../assets/image/ikaLogo.png">
        </div>
     
      

    </ion-buttons>

  </ion-toolbar>
</ion-header>



  <ion-content>



    <div class="conteneurDetailEvents">
      <div class="photoEvents">
        <img class="photoEvents" src="{{images}}" alt="Image Events">
      </div>

      <div class="detailEvents">
        <div class="elementDetailEvents">
          <div class="libelle">Nom event</div>
          <div class="detail"> {{libelle}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Date début:</div>
          <div class="detail"> {{dateDebut | date: "dd MMMM yyyy à hh:mm"}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Date fin:</div>
          <div class="detail">{{dateFin | date: "dd MMMM yyyy à hh:mm"}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Coéfficient votant</div>
          <div class="detail">{{coefficientUser}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Coéfficient jury</div>
          <div class="detail">{{coefficientJury}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Barème</div>
          <div class="detail">{{bareme}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Nombre votant</div>
          <div class="detail" >{{nbrevotant}}</div>
        </div>

      </div>
    </div>

  </ion-content>