<ion-header>

    <div class="barre-menu">
      <div class="element-menus">
        <ion-buttons slot="start" >
          <ion-back-button defaultHref="events-votant/{idEvents}" ></ion-back-button>
          <!-- <ion-back-button defaultHref="event-votant/:{{codeVotant}}"></ion-back-button> -->
        </ion-buttons>
        <div class="nomEvents">
          {{libelle}}
        </div>
      </div>
  
    </div>

</ion-header>

  <ion-content>



    <div class="conteneurDetailEvents">
      <div class="photoEvents">
        <img class="myEvents" src="{{images}}" alt="Image Events">
      </div>

      <div class="detailEvents">
        <div class="elementDetailEvents">
          <div class="libelle">Date début:</div>
          <div class="detail"> {{dateDebut | date: "dd MMMM yyyy à hh:mm"}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Date fin:</div>
          <div class="detail">{{dateFin | date: "dd MMMM yyyy à hh:mm"}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Coéfficient votant</div>
          <div class="detail">{{coefficientUser}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Coéfficient jury</div>
          <div class="detail">{{coefficientJury}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Barème</div>
          <div class="detail">{{bareme}}</div>
        </div>
        <div class="elementDetailEvents">
          <div class="libelle">Nombre votant</div>
          <div class="detail" >{{nbrevotant}}</div>
        </div>

      </div>
    </div>

  </ion-content>