<ion-content>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="text-center">
          <img src="../../assets/image/vote.jpg" alt="Profil" class="imgP">
        </div>
        <h2>Authentification</h2>
       </div>
       <div class="col-12">
        <form action="">
          <input class="form-control" type="text" placeholder="Nom d'utilisateur"> <br>
          <input class="form-control" type="text" placeholder=" Mot de passe"> <br>
          <input type="checkbox" > 
          <p class="seSou">Se souvenir de moi</p>
          
          <div class="text-center">
            <input type="submit" value="Connexion" class="connexion" routerLink="/tabs/tab1" detail >
          </div>
        </form>
       </div>
      </div>
    </div>
  </ion-content>
  <ion-footer>
    <img class="logo" src="../../assets/image/mylogo.png" >
  </ion-footer>