<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-back-button style="color: #FF731D;" class="logo" defaultHref="evenements"></ion-back-button>
    <div class="text-center" style="margin-left: 15%;">
      
      <ion-text style="color: #FF731D;" >{{libelleEvent}}</ion-text>
    </div>
    
    <ion-buttons slot="primary">
      <ion-icon style="margin-right: 10px; color: #FF731D;" name="power" (click)="logout()"></ion-icon>
      <!-- <ion-button id="popover-button">
        <div>
          <ion-icon style="color: #FF731D;" name="person"></ion-icon>
        </div>
      </ion-button> -->

      <!-- <ion-popover trigger="popover-button" [dismissOnSelect]="true" class="popUps">
        <ng-template class="popUp">
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false" routerLink="/tabs/profileleve">
                <ion-icon style="margin-right: 10px;" name="person"></ion-icon>
                Profil
              </ion-item>
              <ion-item class="td">
                <ion-icon style="margin-right: 10px;" name="power"></ion-icon>
                Déconnexion
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover> -->

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h6 class="text-center">Merci de voter pour tous les projets</h6>
    <ion-card *ngFor="let projet  of allProjets " >
      <ion-grid>
        <ion-row>
          <ion-col size="4">
            <img src="{{projet.images}}" sizes="2" class="card-img" alt="image">
          </ion-col>
          <ion-col size="8">
           <h6>{{projet.libelle}}</h6>
           <ion-button  disabled="{{projet.statut}}" *ngIf="projet.statut == false"  class="lesBut" (click)="goAllCritereByIdEvents(idEvents, projet.id)">
            {{textContentFalse}}
          </ion-button>
          <ion-button  disabled="{{projet.statut}}"  *ngIf="projet.statut == true" class="lesBut" (click)="goAllCritereByIdEvents(idEvents, projet.id)">
            {{textContentTrue}}
          </ion-button>
            <!-- <ion-button class="lesBut" (click)="goAllCritereByIdEvents(idEvents,projet.id)">Noter</ion-button> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    

</ion-content>
