<ion-header>
  <div class="barre-menu">
    <div class="element-menus">
      <ion-buttons slot="start" >
        <ion-back-button defaultHref="evenements"></ion-back-button>
      </ion-buttons>
      <div class="nomApp" style="flex-basis: 80%;">
        {{libelle}}
      </div>
    </div>
  </div>
</ion-header>

<ion-content>
  <h6 class="text-center">Merci de voter pour tous les projets</h6>
    <ion-card *ngFor="let projet  of allProjets " >
      <ion-grid>
        <ion-row>
          <ion-col size="6">
            <img src="{{projet.images}}" sizes="2" class="card-img" alt="image">
          </ion-col>
          <ion-col size="6">
           <h3>{{projet.libelle}}</h3>
            <ion-button (click)="goAllCritereByIdEvents(idEvents)">Noter</ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card>
    

</ion-content>
