<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-back-button style="color: #FF731D;" class="logo" defaultHref="evenements"></ion-back-button>
    <div class="text-center" style="margin-left: 15%;">
      
      <ion-text style="color: #FF731D;" >{{libelleEvent}}</ion-text>
    </div>
    
    <ion-buttons slot="primary">
      <ion-button id="popover-button">
        <div>
          <ion-icon style="color: #FF731D;" name="person"></ion-icon>
        </div>
      </ion-button>

      <ion-popover trigger="popover-button" [dismissOnSelect]="true" class="popUps">
        <ng-template class="popUp">
          <ion-content>
            <ion-list>
              <ion-item [button]="true" [detail]="false" routerLink="/tabs/profileleve">
                <ion-icon style="margin-right: 10px;" name="person"></ion-icon>
                Profil
              </ion-item>
              <ion-item class="td">
                <ion-icon style="margin-right: 10px;" name="power"></ion-icon>
                Déconnexion
              </ion-item>
            </ion-list>
          </ion-content>
        </ng-template>
      </ion-popover>

    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <div  class="grafico">
    
    <div class="content">
        <div class="bars" *ngFor="let item of List">
            <span>{{item.Valeur}}</span>
            <div class="bar" [style.background-color]="item.couleur" [style.height]='item.taille'></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="legends">
        <span *ngFor="let item of List">{{item.nom}}</span>
    </div>
</div>

  <!-- <div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
  </div> -->

</ion-content>
