<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-back-button style="color: #FF731D;" class="logo" defaultHref="event-votant "></ion-back-button>
    <ion-buttons slot="primary">
      
        <div>
          <img  class="logo" src="../../assets/image/ikaLogo.png">
        </div>

    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content>
  <h3 class="text-center">{{libelleEvent}}</h3>

  <div class="text-center" style="margin-top: 10%;">
    <img class="gif" src="../../assets/image/victoir.gif" alt="">
  </div>

  
  <div  class="grafico">
    
    <div class="content">
      
        <div class="bars" *ngFor="let item of List">
            <span>{{item.Valeur}}</span>
            <div class="bar" [style.background-color]="item.couleur" [style.height]='item.taille'></div>
        </div>
    </div>
    <div class="line"></div>
    <div class="legends">
        <span *ngFor="let item of List">{{item.nom}}</span>
    </div>
</div>

  <!-- <div class="chart-container">
    <canvas  id="MyChart" >{{ chart }}</canvas>
  </div> -->

</ion-content>
