<ion-header>
  <ion-header>
    <div class="barre-menu">
      <div class="element-menus">
        <ion-buttons slot="start" >
          <ion-back-button defaultHref="evenements"></ion-back-button>
        </ion-buttons>
        <div class="nomApp" style="flex-basis: 80%;">
          {{libelle}}
        </div>
      </div>
  
    </div>
  </ion-header>
</ion-header>

  <ion-content>



    <div class="conteneurDetailChamp">
      <div class="photoChamp">
        <img class="monChamp" src="{{images}}" alt="Image du champ">
        <!-- <div class="temperature" >{{temperatureActuelChamp}} °C</div> -->
      </div>

      <div class="detailChamp">
        <div class="elementDetailChamp">
          <div class="libelle">Date début:</div>
          <div class="detail"> {{dateDebut | date: "dd MMMM yyyy à hh:mm"}}</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Date fin:</div>
          <div class="detail">{{dateFin | date: "dd MMMM yyyy à hh:mm"}}</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Coéfficient votant</div>
          <div class="detail">{{coefficientUser}}</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Coéfficient jury</div>
          <div class="detail">{{coefficientJury}}</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Barème</div>
          <div class="detail">{{bareme}}</div>
        </div>
        <div class="elementDetailChamp">
          <div class="libelle">Nombre votant</div>
          <div class="detail" >{{nbrevotant}}</div>
        </div>
        <!-- <div class="elementDetailChamp">
          <div class="libelle">Pays</div>
          <div class="detail">{{pays}}</div>
        </div> -->

      </div>
    </div>