ion-item {
    --padding-start: 0;
  }
  
  /* iOS places the subtitle above the title */
  ion-card-header.ios {
    display: flex;
    flex-flow: column-reverse;
  }

ion-card{
    margin-top: 2%;
    width: 100%;
    height: 100%;
}