<ion-header>
  <ion-toolbar>
    <ion-row></ion-row>
    <div class="headImg" ><img src="../../assets/image/phot1.png" />Evenement en cours</div>
  
    <!-- <ion-title>eventVotant</ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="grid">
    <ion-row>

      <ion-col size-xs="12">

          <ion-card-header>
            
          </ion-card-header>

            <ion-list >
              <ion-item>
                <ion-thumbnail slot="start">
                  <img src="{{logoEvent}}" />
                </ion-thumbnail>
                <ion-label>
                  <ion-accordion-group>
                    <ion-accordion value="first">
                      <ion-item slot="header" >
                        <ion-label>{{nomEvent}}</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <a (click)="goDetailEventsVotant(idEvents)" >Voir +</a><br>
                        <a (click)="goAllProjetByIdEventsVotant(idEvents)" >Evaluer</a><br>
                        <a (click)=" goAllResultatByIdEventsVotant(idEvents)">Resultat</a>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </ion-label>
              </ion-item>
            </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
