<ion-header [translucent]="true" >
  <ion-toolbar>
    <ion-back-button style="color: #FF731D;" class="logo" defaultHref="connexionvotant"></ion-back-button>
    <ion-buttons slot="primary">
      
        <div>
          <img  class="logo" src="../../assets/image/ikaLogo.png">
        </div>
     
      

    </ion-buttons>

  </ion-toolbar>
</ion-header>


<ion-content>

  <h6>Evenement en cours</h6>

  <ion-card class="lescard">
    
    <ion-card-header>
      <ion-card-title class="ion-text-center">{{nomEvent}}</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-center">
      <img class="imgEvent" src="{{logoEvent}}" alt="Image">
    </ion-card-content>

    <ion-row class="ion-justify-content-center ion-padding">
      <ion-col size="4">
        <ion-button class="lesBut" expand="block"  (click)="goDetailEventsVotant(idEvents)">Voir +</ion-button>
      </ion-col>
      <ion-col size="4">
        
        <!-- <ion-button class="lesBut" expand="block" [disabled]="disabledBtn" (click)="goAllProjetByIdEventsVotant(idEvents)">Evaluer</ion-button> -->

        <ion-button class="lesBut" expand="block" (click)="goAllProjetByIdEventsVotant(idEvents)">Evaluer</ion-button>
      </ion-col>
      <ion-col size="4">
        <ion-button class="lesBut" expand="block" (click)=" goAllResultatByIdEventsVotant(idEvents)">Resultat</ion-button>
      </ion-col>
    </ion-row>
</ion-card>

  <!-- <ion-grid class="grid">
    <ion-row>

      <ion-col size-xs="12">

          <ion-card-header>
            
          </ion-card-header>

            <ion-list >
              <ion-item>
                <ion-thumbnail slot="start">
                  <img src="{{logoEvent}}" />
                </ion-thumbnail>
                <ion-label>
                  <ion-accordion-group>
                    <ion-accordion value="first">
                      <ion-item slot="header" >
                        <ion-label>{{nomEvent}}</ion-label>
                      </ion-item>
                      <div class="ion-padding" slot="content">
                        <a (click)="goDetailEventsVotant(idEvents)" >Voir +</a><br>
                        <a (click)="goAllProjetByIdEventsVotant(idEvents)" >Evaluer</a><br>
                        <a (click)=" goAllResultatByIdEventsVotant(idEvents)">Resultat</a>
                      </div>
                    </ion-accordion>
                  </ion-accordion-group>
                </ion-label>
              </ion-item>
            </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid> -->
</ion-content>
